
<div class="selectc" [id]="id">
  <div class="selected-text form-control"  (click)="showModal()">{{selectedText??placeholder}}</div>
  <div class="select-modal select-aa" [class.active]="modalShown" (click)="modalClicked($event)">

    <div class="select-modal-inner"[style]="modalPosition">
        <input type="text" class="modal-input" (keydown)="inputKeyDown($event)" [id]="id+'input'"  (input)="query($event)" [placeholder]="placeholder">
        <div class="select-option-holder" (scroll)="onScroll($event)">
          <div class="modal-list" *ngIf="!pagination">
            <div class="modal-item" *ngFor="let item of queryResult" (click)="selectItem(item.id)">
              {{item.text}}
            </div>
          </div>
          <div class="modal-list" *ngIf="pagination">
            <div class="modal-item"  *ngFor="let item of showResult; let i = index" [class.current]="i==currentIndex" [class.selected]="item.id === selectedValue" [id]="id+'-item-'+i" (click)="selectItem(item.id)">
              {{item.text}}
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

